.container
{
    width: 60%;
    margin: auto;
    padding: 50px;
    box-sizing: border-box;
    
}
.container2
{
    padding: 12px;
    width: 100%;
    /* box-sizing: border-box; */
}
.header
{
    width:100%;
    background-color: rgb(15, 182, 15);
    color:white;
    font-size:x-large;
    padding: 15px;
    
}
.container2{
    width:100%;
    background-color: rgb(239, 235, 235);
    color:black;
    padding: 15px;

}
.flex-container
{
    width: 100%;
    display: flex;
    background-color: rgb(239, 235, 235);
    padding: 0px;
    margin-top: 20PX;
    
}
.flex-container div
{
width: 50%;
margin-right: 50px;

}
.flex-container input[type=text] 
{
    width:90%;
}
.flex-container input[type=date]
{
    width: 90%;
    padding: 12px;
    border: 1px solid rgb(222, 221, 221);
}
.flex-container select
{
    width: 90%;
}
p{
    color: rgb(51, 156, 51);
    text-align: center;
    padding: 20PX;
}
img
{
    width:50px;
}

label
{
    display:block;
    font-size: 15PX;
    margin-top: 5px;

}
input[type=text],select
{
    padding: 12px;
    margin-top: 5PX;
    border: 1px solid rgb(222, 221, 221);
    width: 100%;

}